DATABASE_HOSTNAME=bizwarecluster.rraehrb.mongodb.net
DATABASE_PORT=5432
DATABASE_PASSWORD=bizware@1234
DATABASE_NAME=aishconnect
DATABASE_USERNAME=bizware
SECRET_KEY=thisisasecret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DEBUGGING=1

mongodb+srv://bizware:<password>@bizwarecluster.rraehrb.mongodb.net/